/*========= Symbol font styling =========*/

@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../font/symbols-sedona.woff?60737633') format('woff'),
       url('../font/symbols-sedona.ttf?60737633') format('truetype'),
       url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */








/*========= Mainpage styles =========*/

body {
	font-family: 'PT Sans', Arial, sans-serif;
	color: #333333;
	text-transform: uppercase;
	
	
	background-color: #f2f2f2;
}
.container {
	font-size: 0;
	z-index: 3;
}
.text-center {
	text-align: center;
}
.frontpage {
	min-width: 768px;
	max-width: 1200px;
	margin: auto;
	position: relative;
	box-shadow:0 0 10px 0 #c8c8c8;
	background-color: white;
}
.clearfix:after { 
   content: ""; 
   visibility: hidden; 
   display: block; 
   height: 0;
   margin: 0;
   clear: both;
}
h1,
h2 {
	font-size: 21px;
}
h3 {
	font-size: 30px;
}
p {
	font-size: 14px;
}
.bold {	
	font-weight: bold;
}
.black {
	color: #000000;
}
.white {
	color: #ffffff;
}

/*--------------Header--------------*/

.top-menu {
	height: 56px;
	position: relative;
}
.top-menu ul {
	padding: 0;
	width: 100%;
	margin: 0 auto;
  	font-size: 0;
 box-sizing: border-box;
}
.top-menu li:first-child {
	margin-left: 6%;
}
.top-menu li:last-child {
	margin-right: 6%;
}
.top-menu li {
	display: inline-block;
	vertical-align: top;
}
.menu {
	width: 20%;
	padding-top: 18px;
}
.menu a {
	font-size: 14px;
	text-decoration: none;
}
.top-menu .menu-spacer {
	width: 8%;
}
.menu a:hover {color: #81b3d2;}
.menu a:active {color: #cacaca;}
.current-page a {color: #766357;}
.current-page a:hover {color: #604e43;}
.current-page a:active {color: #dbd8d5;}

.header-logo {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.text-align-right {
	text-align: right;
}
.text-align-left {
	text-align: left;
}

/*--------------Intro--------------*/

.intro {
	height: 508px;
	background-image: 
	url("../img/index/intro-background-lower-shape.png"),
	url("../img/index/intro-background.jpg");
	background-color: gray;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% auto, cover;
	background-position: center bottom, 100% 28%;
 box-sizing: border-box;
	padding: 77px;
}
.intro img {
	display: block;
	margin: auto;
}

/*---------Mainpage-description---------*/

.description {
	height: 216px;
 box-sizing: border-box;
	padding-top: 45px;
}
.description > h1 {
	margin-bottom: 30px;
}

/*--------------Fact section--------------*/

.fact-text h2 {
	margin-top: 0;
}
.gray-background {
	background-color: #eeeeee;
}
.fact-left .fact-image {
	width: 67%;
	height: 256px;
	background-image: 
	url("../img/index/fact-left-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 50%;
 box-sizing: border-box;
}
.fact-right .fact-image {
	width: 67%;
	height: 256px;
	background-image: 
	url("../img/index/fact-right-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 50%;
 	box-sizing: border-box;
}
.fact-text h2 {
	margin-top: 10px;
	line-height: 24px;
	margin-bottom: 25px;
}
.fact-text p {
	margin-bottom: 21px;
}
.fact-text {
	background-color: #81b3d2;
 	box-sizing: border-box;
	width: 33%;
	height: 256px;
	display: table;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 0px;
}
.fact-left .fact-text {
	float: left;
}
.fact-left .fact-image {
	float: right;
}
.fact-right .fact-image {
	float: left;
}
.fact-right .fact-text {
	float: right;
}
.advantages {
	display: table-row;
}
.advantages .feature {
	width: 33%;
	height: 330px;
	box-sizing: border-box;
	display: table-cell;
	vertical-align: top;
	padding-top: 60px;
	padding-left: 44px;
	padding-right: 44px;
}
.advantages-img {
	margin-left: auto;
	margin-right: auto;
	background: url('../img/index/advantages-img.png') no-repeat top left;
	width: 75px;
	height: 75px;
	margin-bottom: 25px;
}
.advantages h2 {
	margin-bottom: 21px;
}
.advantages-img.icon-food {
	background-position: 0 0;
} 
.advantages-img.icon-housing {
	background-position: -85px 0;
} 
.advantages-img.icon-souvenirs {
	background-position: -170px 0;
} 
.facts {
	display: table-row;
}
.facts .feature {
	box-sizing: border-box;
	width: 33%;
	height: 256px;
	display: table-cell;
	vertical-align: top;
	padding-top: 28px;
	padding-left: 44px;
	padding-right: 44px;
}
.facts p {
	margin-bottom: 25px;
}

/*---------- Search-form ----------*/

.hotel-search {
	position: relative;
}
.interested {
	height: 291px;
 	box-sizing: border-box;
 	border: 1px solid transparent;
}
.search-form-header {
	background-color: #766357;
	cursor: pointer;
}
.interested h3 {
	margin-top: 54px;
	line-height: 26px;
}
.interested p {
	line-height: 24px;
}
.search-form-header {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 205px;
	display: block;
	font-size: 21px;
	line-height: 86px;
	text-decoration: none;
	width: 568px;
	margin: 0 auto;
	color: white;
	font-weight: bold;
	text-align: center;
}
.search-form {
	display: none;
	text-align: left;
	width: 568px;
	height: 395px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
 	box-sizing: border-box;
	padding: 55px;
	background-color: white;
	box-shadow:0 5px 15px 0 #ccc;
	z-index: 2;
}
.show {
	display: block;
	-webkit-animation: bounce .6s;
	        animation: bounce .6s;
}
@-webkit-keyframes bounce {
	0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
	70% {-webkit-transform: translateY(30px);transform: translateY(30px);}
	90% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
	100% {-webkit-transform: translateY (0);transform: translateY (0);}
}
@keyframes bounce {
	0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
	70% {-webkit-transform: translateY(30px);transform: translateY(30px);}
	90% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
	100% {-webkit-transform: translateY (0);transform: translateY (0);}
}
.date-row {
	margin-bottom: 28px;
}
.form-sub-head,
.form-data,
.search-form input[type="date"],
.search-form label[for="date-checkin"],
.search-form label[for="date-checkout"] {
	display: inline-block;
	vertical-align: top;
}

.form-sub-head {
	font-size: 14px;
	line-height: 38px;
	font-weight: bold;
	float: left;
	vertical-align: middle;
}
.form-data {
	float: right;
	background-color: #f2f2f2;
	width: 346px;
	line-height: 32px;
}
.search-form input[type="date"] {
	font-size: 14px;
	font-weight: bold;
	font-family: 'PT Sans', Arial, sans-serif;
	line-height: 38px;
	width: 300px;
	padding-left: 12px;
	border: none;
	outline: none;
	background-color: transparent;
}
.form-guests {
	float: right;
	width: 346px;
	line-height: 38px;
}
.children {
	display: inline-block;
	vertical-align: top;
	margin-left: 55px;
	width: 175px;
}
.form-children-sub-head {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	font-weight: bold;
	vertical-align: top;
	float: left;

}
.guests-number {
	display: inline-block;
	vertical-align: middle;
	background-color: #f2f2f2;
	width: 114px;
	height: 36px;
	text-align: center;
}
.children > .guests-number {
	float: right;
}
.search-form input[type="number"] {
	font-size: 14px;
	font-weight: bold;
	font-family: 'PT Sans', Arial, sans-serif;
	line-height: 38px;
	width: 38px;
	text-align: center;
	border: none;
	outline: none;
	background-color: transparent;
	margin: 0 10px;
}
.icon-minus,
.icon-plus {
	font-size: 14px;
	margin: 0 auto;
	color: #a9a9a9;
}
.icon-minus:hover,
.icon-plus:hover {color: black;}
.icon-minus:active,
.icon-plus:active {color: #81b3d2;}

.icon-calendar {
	font-size: 21px;
	color: #a9a9a9;
}
.icon-calendar:hover {color: black;}
.icon-calendar:active {color: #81b3d2;}





input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.search-form input[type="submit"] {
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	font-family: 'PT Sans', Arial, sans-serif;
	color: white;
	height: 58px;
	width: 100%;
	border: none;
	cursor: pointer;
	background-color: #81b3d2;
	margin-top: 24px;
}
.search-form input[type="submit"]:hover {
	background-color: #669ec0;
}
.search-form input[type="submit"]:active {
	background-color: #5496bd;
	color: #94b9d2;
}
/*---------- Map ----------*/

.map {
	width: 100%;
	height: 593px;
	background-image: 
	url("../img/index/hotels-map-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

/*---------- Footer ----------*/

.mainpage-footer-position {
	position: absolute;
	bottom: 0;
}
.page-footer {	
	width: 100%;
	background-color:rgba(255,255,255,.9);
	height: 120px;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    z-index: 3;

}
.page-footer > div {
	width: 33%;
}
.social a {
	display: inline-block;
	vertical-align: middle;
	width: 46px;
	height: 48px;
	margin: 3px;
	line-height: 48px;
	background-color: #81b3d2;
	font-size: 19px;
	color: white;
	text-decoration: none;
}
a.icon-youtube {
	font-size: 23px;
}

.icon-twitter:hover {background-color: #669ec0;}
.icon-twitter:active {
	color: #94b9d2;
	background-color:#5496bd;
}
.icon-facebook:hover {background-color: #669ec0;}
.icon-facebook:active {
	color: #94b9d2;
	background-color:#5496bd;
}
.icon-youtube:hover {background-color: #669ec0;}
.icon-youtube:active {
	color: #94b9d2;
	background-color:#5496bd;
}
.copyright a {
	font-size: 14px;
	color: black;
	text-decoration: none;
}
.html-academy-logo {
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
	padding: 0;
	/*vertical-align: middle;*/
	background: url("../img/html-academy-logos.png") no-repeat top left;
	width: 113px; 
	height: 39px;
	background-position: 0 0;
}
.copyright a:hover > .html-academy-logo {
	background-position: 0 -78px;
}
.copyright a:active > .html-academy-logo {
	background-position: 0 -39px;
}

/*---------- Hotel search page ----------*/

/*----- Filter -----*/

.filter {
	height: 217px;
	background-image: 
	url("../img/hotels/hotels-filter-background-blur.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 50%;
	background-color: gray;
 box-sizing: border-box;
    padding-left: 6%;
	padding-right: 6%;
	padding-top: 10px;
}
.filter label {
	font-size: 14px;
	font-weight: normal;
	color: white;
}
.infrastructure {
	float: left;
	width: 24%;

	/*border: 1px solid red;*/
}
.filter-head {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 24px;
}
.filter-head-price {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 12px;
}
.housing {
	width: 22%;
	float: left;
}
.infrastructure p,
.housing p {
	margin-bottom: 22px;
}
.filter input[type="checkbox"] {
	display: none;
}
.filter input[type="checkbox"] + label {
	
}
.filter input[type="checkbox"] + label:before {
	content: "\2610";
	display: inline-block;
	vertical-align: middle;
	color: #b5b5b5;
	line-height: 26px;
	font-family: "symbols-sedona";
	font-size: 26px;
	margin-right: 20px;
}
.filter input[type="checkbox"] + label:hover:before {
	color: white;
}
.filter input[type="checkbox"] + label:disabled:before {
	color: #6a6a6a;
}
.filter input[type="checkbox"]:checked + label:before {
	content: "\2611";
	margin-right: 16.25px;
}
.price {
	width: 30%;
	float: right;
}
.price-filter {
	margin-bottom: 8px;
}

.price-controls {
	font-size: 0;
	height: 36px;
	width: 318px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 2px solid white;
	border-radius: 2px;
	box-sizing: border-box;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.price-controls label {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	margin-top: 2px;
	width: 49%;
	height: 22px;
	text-align: center;
}
.price input[type="number"] {
 	font-family: 'PT Sans', Arial, sans-serif;
	color: white;
	width: 30px;
	border: none;
	outline: none;
	background-color: transparent;
}
.divider {
	display: inline-block;
	width: 2px;
	height: 22px;
	vertical-align: middle;
	background-color: white;
}
.price-slider {
	position: relative;
	margin: 0 auto;
	height: 25px;
	width: 318px;
}
.price-slider .scale {
	height: 2px;
	background-color: rgba(204,204,204,.3)
}
.price-slider .bar {
	height: 2px;
	width: 80%;
	background-color: white;
}
.price-slider .toggle {
	position: absolute;
	top: -10px;
	left: 0;
	width: 4px;
	height: 4px;
	border: 8px solid white;
	background-color: #cccccc;
	border-radius: 50%;
	cursor: pointer;
}
.price-slider .toggle-min {
	left: 0px;
}
.price-slider .toggle-max {
	left: 80%;
}
.price-slider .toggle:hover {background-color: #1c4f80;}

.price input[type="submit"] {
	display: block;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	width: 133px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 2px;

}

/*----- Sort -----*/

.sort {
	height: 86px;
	padding-left: 6%;
	padding-right: 6%;
	font-size: 12px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	padding-top: 32px;
	padding-bottom: 36px;
 box-sizing: border-box;
} 
.found {
	float: left;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: black;
	width: 135px;
	margin-right: 30px;

	/*border: 1px solid red;*/
}
.sort-type {
	line-height: 21px;
	vertical-align: bottom;
	float: left;
	display: inline-block;

	/*border: 1px solid red;*/
}
.sort-type a {
	margin-left: 32px; 
}
.sort-type-active {
	text-decoration: none;
	color: #81b3d2;
}
.sort-type-pasive {
	/*display: block;*/
	text-decoration: none;
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}
.sort-type-pasive:hover {color: #81b3d2;}
.sort-type-pasive:active {color: #000000; border-bottom: 0;}

.sort-order {
	font-size: 0;
	float: right;
}
.sort-order a {
	
	text-decoration: none;
}
.icon-up-dir,
.icon-down-dir {
	margin: 0 -5px;
	font-size: 23px;
}
.icon-up-dir.on, 
.icon-down-dir.on {
	color: #81b3d2;
}
.icon-up-dir.off, 
.icon-down-dir.off {color: #cccccc;}
.icon-up-dir.off:hover, 
.icon-down-dir.off:hover {color: black;}
.icon-up-dir.off:active, 
.icon-down-dir.off:active {color: #81b3d2;}

/*------- Results section -------*/

.article {
	padding-left: 6%;
	padding-right: 6%;
	margin: 0 auto;

/*	border: 1px solid green;*/

	display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
	border-bottom: 1px solid #e5e5e5;
}
.hotel-img {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 30px;
}
.hotel-info {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
            flex: 1 1 auto;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;

	/*border: 1px solid red;*/
}
.hotel-info div {
	margin-right: 6px;
	margin-top: 3px;
	display: inline-block;

	/*border: 1px solid blue;*/
}
.hotel-info h2 {
	margin: 0;
	line-height: 14px;
	vertical-align: bottom;

	/*border: 1px dashed blue;*/
}
.hotel-info h2:hover {color:#81b3d2;}
.hotel-info h2:active {color:#cacaca;}
.hotel-info h2 a {
	text-decoration: none;
	color: inherit;
}
.details-btn {
	display: block;
	line-height: 27px;
	width: 110px;
	background-color: #81b3d2;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	 text-align: center;
}
.details-btn:hover {background-color:#669ec0;}
.details-btn:active {background-color:#5496bd;color:#94b9d2;}

.booking-btn {
	display: block;
	line-height: 27px;
	width: 142px;
	background-color: #766357;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	 text-align: center;
}
.booking-btn:hover {background-color:#604e43;}
.booking-btn:active {background-color:#503e33;color:#928a85;}

.hotel-rating {
	-webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
	        flex: 1 1 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 90px;
	padding: 0;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -webkit-box-align: end;
            align-items: flex-end;

	/*border: 1px dashed pink;*/
}
.icon-star {
	font-size: 19px;
	color: #81b3d2;
	margin: -2px;
}
.rating {
	
	width: 110px;
	font: 14px;
	color: #666666;
	height: 27px;
	line-height: 0px;
	text-align: center;
	background-color: #f2f2f2;

}